﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Charts</a></p>
        </div>
    </div>
</header>
<select id="CandleStickGraphSelect">
    <option selected="selected">AUD</option>
    <option>Doncaster</option>
    <option>Eltham</option>
    <option>Glem Waverly</option>
    <option>Kensington</option>
    <option>Melbourne</option>
    <option>Richmond</option>
    <option>Yarraville</option>
    <option>Minute</option>
</select>
<select id="NumberOfBedroomsSelect">
    <option value="0">Studio</option>
    <option value="1">1 Bedroom</option>
    <option selected="selected" value="2">2 Bedroom</option>
    <option value="3">3 Bedroom</option>
    <option value="4">4 Bedroom</option>
    <option value="5">5+ Bedroom</option>
</select>
<div id="graphDiv1" style="width:480px;height:300px;margin:auto"></div>
<br />
<br />
<br />
<input id="debug_text_box"/>
<script src="Scripts/jquery-1.7.1.js"></script>
<script src="Scripts/jquery-ui-1.8.20.js"></script>
<!--[if IE]><script src="excanvas.js"></script><![endif]-->
<script src="Scripts/charts/axis-grid.js"></script>
<script src="Scripts/charts/candle-stick-chart.js"></script>
<script src="Scripts/charts/test-chart.js"></script>

